.tab {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0px 4px 16px 4px;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.019px;
    font-style: normal;
}

.active-tab {
    color: var(--primary-200, #177BA6);
    font-weight: 700;
    border-bottom: 2px solid var(--primary-200, #177BA6);
}

.inactive-tab {
    color: var(--primary-200, #177BA6);
    font-weight: 400;
}

.inactive-tab:hover {
    font-weight: 700;
}

.inactive-tab:disabled {
    color: var(--neutral-200, #9CA3AF);
}

.active-tab:hover {
    color: var(--primary-400, #0A3A4C);
}

.active-tab:focus {
    border-color: var(--primary-100, #1C99CE);
    color: var(--primary-400, #0A3A4C)
}

.active-tab:disabled {
    border-color: var(--neutral-200, #9CA3AF);
    color: var(--neutral-200, #9CA3AF);
    cursor: not-allowed;
}
